:root {
  --background: #ffffff;
  --foreground: #171717;
  --red:  #f13737;
  --white:#FFFFFF;
  --gray: #7d7c7c;
  --black: #000000;
  --font-poppins: 'Poppins', sans-serif;
  --tx-sm: 0.75rem;
  --tx-base: 0.875rem; 
  --tx-md: 1rem;
  --tx-lg: 1.25rem;

}


html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-poppins);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}